div {
    cursor: default;
}
.game_object {
    align-items: center;
    display: flex;
    margin-bottom: 1px;
    margin-top: 1px;
    user-select:none;
    width: 100%;
}
.game_info_column {
    float: left;
    width: 100%;
}
.game_thumbnail {
    margin-right: 4px;
    overflow: visible;
    position: relative;
}
.game_image_component {
    position: absolute;
}
.game_image {
    top: 4px;
}
.game_button_component {
    pointer-events: none;
}
.game_button_play {
    color: #FFFFFF;
    font-size: 125%;
    margin: auto;
    margin-top: -28%;
    pointer-events: none;
    text-align: center;
    transform: translateY(-8px);
    width: 100%;
    z-index: 10;
}
.container_summary {
    bottom: -1px;
    height: 40px;
    left: 0;
    position: fixed;
    right: 0;
}
.container_sorting {
    left: 0;
    position: fixed;
    right: 0;
    top: -1px;
    z-index: 20;
}
.sorting_thumbnail {
    margin-left: 12px;
}
.summary_games {
    margin-left: 6px;
}
.summary_cell {
    position: relative;
}
.clickable {
    cursor: pointer;
}
.features_icon {
    cursor: help;
    font-size: 110%;
    transition: font-size 0.5s;
}
.favourite {
    font-size: 140%;
    position: absolute;
    top: 60px;
    z-index: 15;
}
.game_settings {
    font-size: 150%;
    text-align: center;
}
.searchbar {
    position: fixed;
    z-index: 100;
}
